<div class="ember-growl-notification-item-container">
  <div class="ember-growl-notification-item-box">
    <span class="ember-growl-notification-item-box-close" onclick={{action 'close'}}>x</span>
    {{yield}}
  </div>
  <div class="ember-growl-notification-item-box-time-to-die-container">
    <div class="ember-growl-notification-item-box-time-to-die" ></div>
  </div>
</div>