<div class="ember-growl-notification-item">
    <span class="ember-growl-notification-item-close" onclick={{action 'close'}}>x</span>
    {{yield}}
</div>
<div class="ember-growl-notification-item-time-to-die-container">
    <div class="ember-growl-notification-item-time-to-die" ></div>
</div>